@import "base/extends";
@import "base/animations";
@import "base/forms";
@import "base/fonts";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";

body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-color: #000;
  background-image: url('/images/background.png');
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.noselect {
}

/* Prevent image ghost-dragging */
img {
  pointer-events:none;
}

.ExhibitComponents,
.ViewExhibitComponent,
.EditExhibitComponent,
.Videos,
.NewVideo {
  background-color: #FFF;
  padding: 0 40px 40px 40px;
}

/**
 * Selection screen - Button positions
 */
#selection-screen .video-button {
  z-index: 1;
  position: absolute;
  top:375px;
  transition: all .12s ease-out;
}

#selection-screen .video-button:active {
  transform: scale(0.99) translate(0px, 2px);
  transition: all .03s ease-out;
}

#selection-screen .video-button.active {
  transform: scale(1.04) translate(0px, -2px);
}

#selection-screen .video-01.inactive {
  transform: scale(0.99);
  opacity:0.6;
}

#selection-screen .video-02.inactive {
  transform: scale(0.99);
  opacity:0.6;
}

#selection-screen .video-03.inactive {
  transform: scale(0.99);
  opacity:0.6;
}

#selection-screen .video-button img {
  margin: 0px;
}

#selection-screen .video-01 {
  left: 160px;
}

#selection-screen .video-02 {
  left: 700px;
}

#selection-screen .video-03 {
  left: 1250px;
}

/**
 * Video player
 *
 * Starts out transparent and gets animated in on a play event.
 */
.video-player {
  position: absolute;
  top:0;
  left:0;
  width: 1920px;
  height: 1080px;
  z-index: 3;
  opacity: 1;
}

.video-player.playing {
  opacity: 0.1;
}

.player-fade-enter {
  opacity: 0.01;
}

.player-fade-enter.player-fade-enter-active {
  opacity: 1.0;
  transition: opacity 0.5s ease-in;
}

.player-fade-leave {
   opacity: 0.0;
   transition: opacity 0.3s ease-out;
}

.home-button {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  margin: 0;
  padding: 42px 85px 42px 41px;
}

.home-button img {
  width: 60px;
  opacity: .5;
  transition: all .1s ease-out;
}

.home-button:active img {
  transform: scale(0.96);
  opacity: .75;
}

.looping-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: -1;
}

.screensaver {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 4;
}
